<mat-toolbar color="primary" style="position: fixed">
    <span><img src="/assets/images/Logo.jpg" height=30 width=41></span>
    <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" ><span class="fa fa-home fa-lg" ></span> Home</a>
    <a mat-button [routerLink]="['/about']" routerLinkActive="router-link-active" ><span class="fa fa-info fa-lg" ></span> About</a>
    <a mat-button [routerLink]="['/menu']" routerLinkActive="router-link-active" *ngIf="showButton"><span class="fa fa-list fa-lg"></span> Menu</a>
    <a mat-button [routerLink]="['/location']" routerLinkActive="router-link-active" *ngIf="showButton"><span class="fa fa-map-marker"></span> Location</a>
    <span class="flex-spacer"></span>
    <a mat-button *ngIf="!showButton" (click)="getLoginform()" ><span class="fa fa-sign-in fa-lg" ></span> Login</a>
    <a mat-button *ngIf="showButton" (click)="getSignout()" ><span class="fa fa-sign-out fa-lg" ></span> Log Out</a>

  </mat-toolbar>

  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center"
      fxLayoutAlign.gt-sm="center center"
      fxLayoutGap="10px"
      style="background-image: url('/assets/images/back.jpg')">

    <div fxFlex fxFlex.gt-sm="50%">
      <h1>BCube</h1>
      <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/final.webp" height=auto width=80% alt="Logo">
    </div>
    <div fxFlex></div>
  </div>
