/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber';
body{
  padding: 0%;
  margin: 0%;
  font-family: 'Courier New', Courier, monospace;
}
.example-card {
  max-width: 300px;

}

.example-header-image {
  background-size: cover;
}
.container{
  margin: 20px;
  display: flex;
  padding-left: 100px;
}
